{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Weather App</title>

    <link rel="stylesheet" href="{% static 'weatherapp/style.css' %}">

</head>

<body style="background-image:url('{{ bg }}'); background-size:cover; background-position:center;">

<div class="container">

    <h1>🌤 Weather App</h1>

    <!-- Search Form -->
    <form method="POST">
        {% csrf_token %}

        <input type="text" name="city" placeholder="Enter city name" value="{{ city }}" required>

        <button type="submit">Search</button>

        <div id="loading" style="display:none;">
            <p>Loading weather...</p>
        </div>

    </form>


    <!-- Weather Result -->
    {% if temp %}

    <div class="weather-result">

        <h2 class="city">{{ city }}</h2>

        <img src="https://openweathermap.org/img/wn/{{ icon }}@2x.png">

        <h1 class="temperature">{{ temp }} °C</h1>

        <p class="description">{{ description }}</p>

        <p class="date">{{ day }}</p>

    </div>

    {% endif %}



    <!-- Forecast Section -->
    {% if forecast_data %}

    <div class="forecast">

        <h2>Next Hours Forecast</h2>

        <div class="forecast-container">

            {% for item in forecast_data %}

            <div class="forecast-card">

                <p class="time">{{ item.time }}</p>

                <img src="https://openweathermap.org/img/wn/{{ item.icon }}@2x.png">

                <p class="temp">{{ item.temp }} °C</p>

                <p class="desc">{{ item.desc }}</p>

            </div>

            {% endfor %}

        </div>

    </div>

    {% endif %}

</div>



<script>

const form = document.querySelector("form");
const loading = document.getElementById("loading");

form.addEventListener("submit", function () {
    loading.style.display = "block";
});



const weather = "{{ description|lower }}";

if(weather.includes("cloud")){
    document.body.style.background = "linear-gradient(#bdc3c7,#2c3e50)";
}

else if(weather.includes("rain")){
    document.body.style.background = "linear-gradient(#4e54c8,#8f94fb)";
}

else if(weather.includes("clear")){
    document.body.style.background = "linear-gradient(#f7971e,#ffd200)";
}

else if(weather.includes("snow")){
    document.body.style.background = "linear-gradient(#83a4d4,#b6fbff)";
}

else if(weather.includes("thunder")){
    document.body.style.background = "linear-gradient(#141e30,#243b55)";
}

</script>

</body>
</html>