{% load static %}
<!DOCTYPE html>
<html>

<head>

<title>Weather App</title>

<link rel="stylesheet" href="{% static 'weatherapp/style.css' %}">

</head>

<body style="background-image:url('{{ bg }}'); background-size:cover; background-position:center;">

<div class="container">

<h1>Weather App</h1>

<form method="POST">
{% csrf_token %}

<input type="text" name="city" placeholder="Enter city" value="{{ city }}" required>

<button type="submit">Search</button>

<div id="loading" style="display:none;">
<p>Loading weather...</p>
</div>

</form>


{% if temp %}

<div class="weather-result">

<h2 class="city">{{ city }}</h2>

<h1 class="temperature">{{ temp }} °C</h1>

<img src="https://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="weather icon">

<p class="description">{{ description }}</p>

<p class="date">{{ day }}</p>

</div>

{% endif %}


{% if forecast_data %}

<div class="forecast">

<h2>Next Hours Forecast</h2>

<div class="forecast-container">

{% for item in forecast_data %}

<div class="forecast-card">

<p>{{ item.time }}</p>

<img src="https://openweathermap.org/img/w/{{ item.icon }}.png">

<p>{{ item.temp }}°C</p>

<p>{{ item.desc }}</p>

</div>

{% endfor %}

</div>

</div>

{% endif %}

</div>


<script>

const form = document.querySelector("form");
const loading = document.getElementById("loading");

form.addEventListener("submit", function(){
loading.style.display = "block";
});


const weather = "{{ description|lower }}";

if(weather.includes("cloud")){
document.body.style.background = "linear-gradient(#bdc3c7,#2c3e50)";
}

else if(weather.includes("rain")){
document.body.style.background = "linear-gradient(#4e54c8,#8f94fb)";
}

else if(weather.includes("clear")){
document.body.style.background = "linear-gradient(#f7971e,#ffd200)";
}

else if(weather.includes("snow")){
document.body.style.background = "linear-gradient(#83a4d4,#b6fbff)";
}

else if(weather.includes("thunder")){
document.body.style.background = "linear-gradient(#141e30,#243b55)";
}

</script>

</body>
</html>